CARLA/
CARLA-0.10.0-Win64-Shipping/

# Ignore compiled files
__pycache__/
*.pyc
*.pyo
*.log

# Ignore models (upload separately if needed)
models/
*.pt
slam_code/stereo_vslam_pipelinev3.py
slam_code/visualize_3dmap.py
slam_code/visualize.py
slam_code/slam_map_showcase.mp4
slam_code/carla_data
slam_code/vslam_final_results

# Ignore unnecessary system files
.DS_Store
Thumbs.db